.background {
   background: #F0F5E0; 
}

.container {
   height: 80vh;
   margin-top: 10vh;
   padding-left: 10vw;
   padding-right: 10vw;
   background: #FFFFF5; 
   color: #232C1C;
   font-family: Lora, serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10% 10% 0 0;
   text-align: center;
   box-shadow: 0 -10px 40px 0 rgba(0, 0, 0, 0.08);
}

.heading {
   margin-top: 10vh;
   font-size: 64pt;
}

.cta {
   font-size: 28pt;
   margin-left: 1em;
   margin-right: 1em;
}
