.label {
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6em;
  background: #f5f5eb;
}

.donate {
  color: #cc0000;
  background: #ffe0e0;
  border-radius: 50px;
  padding: 0.5em;
  font-size: 0.8em;
}
