.label {
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8em;
  background: #f0f5e0;
  box-shadow: inset 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.donate {
  font-size: 1.2em;
}
