.container {
   padding-top: 10vh;
   height: 150vh;
   padding-left: 10vw;
   padding-right: 10vw;
   background: #F0F5E0; 
   color: #232C1C;
   font-family: Lora, serif;
   display: flex;
   flex-direction: column;
   box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.2);
}

.row {
   margin-top: 10vh;
   margin-bottom: 10vh;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.card {
   background: #fffff5;
   padding: 3em;
   max-width: 40vw;
   border-radius: 50px;
   box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.08);
 }

 .heading {
    font-weight: bolder;
    font-size: 32pt;
 }

.lightgreen {
    color: #BEE2A1;
}

.darkgreen {
   color: #5F8768;
}

.blurb {
   font-family: Roboto, Ubuntu, sans-serif;
   font-size: 18pt;
   line-height: 2;
}

.caption {
  font-family: Roboto, Ubuntu, sans-serif;
  line-height: 1.5;
  color: #999;
}

.link {
  opacity: 0.7;
  text-decoration: underline;
}

.link:hover {
  opacity: 1;
}
