.container {
   height: 100vh;

/*   color: #232C1C; */
   color: #f9fff9;
   font-family: Lora, serif;
   display: flex;
   align-items: center;
   justify-contents: space-around;
   min-width: 100%;
   min-height: 100%;
   transition: background 0.5s linear;
}
.title {
  font-family: Lora serif;
  text-shadow: 0 10px 10px 0 #000f;
   margin: 0;
   padding: 0;
   line-height: 0.95;
   font-weight: bolder;
   font-size: 150pt;
}

.subtitle {
   line-height: 1.05;
   margin: 0;
   margin-bottom: 2em;
   padding: 0;
   font-size: 64pt;
   font-weight: bold;
   padding-left: 25px;
   text-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.primary {
   text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.subtitle {
   font-size: 24pt;
}

.lightgreen {
   color: #BEE2A1;
}

.darkgreen {
   color: #5F8768;
}

.meme {   
  margin-left: 10vw;
  width: 350px;
  height: 250px;
}

.toplinks {
  position: absolute;
  top: 3em;
  right: 3em;
  font-family: Roboto, sans-serif;
  font-size: 1.3em;
  color: #777;
}

.toplinks > a {
  transition: all 0.2s;
  padding: 0.5em;
  border-radius: 40px;
}

.toplinks > a:hover {
  opacity: 0.5;
  background: #dfd;
  color: #020;

}

.svg {
  width: 100%;
}


@media only screen and (min-width: 680px) {
  .container {
    padding-left: 10vw;
  }
}
