.container {
   height: 95vh;
   border-radius: 0 0 150px 150px;
   padding-left: 10vw;
   background: #FFFFF5; 
   color: #232C1C;
   font-family: Lora, serif;
   display: flex;
   justify-contents: space-around;
}

.title {
   margin: 0;
   padding: 0;
   margin-top: 30vh;
   line-height: 0.95;
   font-weight: bolder;
   font-size: 150pt;
}

.subtitle {
   line-height: 1.05;
   margin: 0;
   padding: 0;
   font-size: 64pt;
   font-weight: bold;
   padding-left: 9px;
}

.subsubtitle {
   margin: 0;
   margin-bottom: 2em;
   padding: 0;
   padding-left: 12px;
   line-height: 2;
   font-weight: bold;
}

.primary {
   color: #8CAB73;
}

.subtitle {
   font-size: 24pt;
}

.lightgreen {
   color: #BEE2A1;
}

.darkgreen {
   color: #5F8768;
}

