.uibottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s ease-out;
  box-sizing: border-box;
}

.hidden {
  transform: translateY(100px);
}

.uitop {
  position: absolute;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: flex;
  /* For logo, title, save/share etc buttons */
  justify-content: center;
  padding: 0 1em 0 1em;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
  border-radius: 0 0 20px 20px;
  transition: all 0.3s ease-in;
  transform: translateX(-120vw);
  opacity: 0;
}

.lefthidden {
  transform: translateX(0);
  opacity: 1;
}

.uiside {
  position: absolute;
  margin-right: 1em;
  right: 0;
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}

.uiside > * {
  margin-top: 1em;
}

.leftui {
  display: flex;
  align-items: baseline;
}

.leftui > * {
  margin-left: 1em;
}

.rightui {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.rightui > * {
  margin-right: 1em;
}

.search {
  display: flex;
/*  flex-direction: column;
  align-items: left;
  flex-direction: column-reverse;*/
  align-items: center;
  font-size: .8rem;
}

@media only screen and (min-width: 480px) {
  .hidden {
    transform: translateY(155px);
  }

  .search {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: unset;
  }

.uitop {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  display: flex;
  /* For logo, title, save/share etc buttons */
  justify-content: center;
  padding: 0 1em 0 1em;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
  border-radius: 0 0 20px 20px;
  position: relative;
  transform: translateX(0);
  opacity: 1;

}

}
