.uibottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s ease-out;
}

.hidden {
  transform: translateY(350px);
}

.uitop {
  position: absolute;
  bottom: 0;
  display: flex;
  /* For logo, title, save/share etc buttons */
  justify-content: space-around;
  align-items: center;
}
