.uibottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s ease-out;
  box-sizing: border-box;
}

.hidden {
  transform: translateY(200px);
}

.uitop {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  /* For logo, title, save/share etc buttons */
  justify-content: center;
  padding: 0 1em 0 1em;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
  border-radius: 0 0 20px 20px;
}

.uiside {
  position: absolute;
  margin-right: 1em;
  right: 0;
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}

.uiside > * {
  margin-top: 1em;
}

.leftui {
  display: flex;
  margin-right: auto;
  align-items: center;
  padding-right: 18.75em;
}

.rightui {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.rightui > * {
  margin-right: 1em;
}
