.button {
  background: white;
  color: #c2c2c2;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  padding: 0.5em;
  margin: 1em;
  transition: all 0.4s ease-out;
  width: auto;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}

.button:hover {
  border-color: #B8E6B8;
}

.copied {
  background-color: #B8E6B8;
  border-color: #8CAB73;
  color: #000;
  cursor: default;
}
