.container {
  border-radius: 20px;
  padding: 0.5em;
  background: #F0F5E0;
  color: #999;
  display: flex;
  align-items: center;
  margin-right: 0.2em;
  cursor: pointer;
}

.control {
  background: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-left: .5em;
  transition: all 0.2s;
}

.active {
  border-color: #8CAB73;
  background: #8CAB73;
  box-sizing: border-box;
}
