.container {
  font-family: Roboto, Ubuntu, sans-serif;
  border-radius: 20px;
  padding: 0.5em;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.control {
  border-color: #8CAB73;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: .4em;
  transition: all 0.2s;
}

.active {
  border-color: #8CAB73;
  background: #8CAB73;
  box-sizing: border-box;
}
