.rankselector {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border: 1px solid #fff;
  border-radius: 50px;
  background: #fff;
  appearance: none;
  text-align: center;
  color: #aaa;
  font-family: Ubuntu, sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.selected {
  background: #8CAB73;
  color: #fff;
}
