.button {
  margin: 1em;
  margin-left: auto;
  background: white;
  color: #c2c2c2;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  transition: all 0.3s;
}
