.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-left: 1em;
  margin: 1em;
  background: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: border-color 0.2s;
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
}

.searchbar:focus {
  border-color: #8CAB73;
}

.input {
  outline: none;
  border: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.1em;
  width: 90%;
 
}

.input:focus {
  outline: none;
}
