.container {
  padding: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 195px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 #ddd;
  border-radius: 20px;
}
