.card {
  margin: 0.3em;
  margin-right: .5em;
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 10px; /*0 0 20px 20px;*/
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  position: relative;
  opacity: 0.01;
  cursor: pointer;
  background: #2C354B;
}

.loaded {
  opacity: 1.0;
}

.imagecontainer {
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}

.image {
   border-radius: 10px;
   object-fit: cover;
   display: block;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   transition: transform 0.2s ease-out;
}

.missingimage {
   text-align: center;
   margin-top: 50%;
   font-style: italic;
}

.label {
  top: 0;
  padding: 0.3em 1em 0.3em 1em;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
  font-size: 0.7em;
  font-weight: bold;
  text-shadow: 0px 1px 5px black;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-transform: lowercase;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 10px;
  transition: all 0.1s;
}

.addbutton {
  font-weight: bolder;
  right: -5px;
  top: -5px;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  display: inline;
  border-radius: 30px;
  margin: 0.3em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32B0F9;
  text-shadow: none;
}

.card:hover .addbutton {
  opacity: 1;
}

.card:hover .label {
  opacity: 1;
}

.common {
  font-weight: bold;
  text-shadow: 0px 1px 5px black;
  font-size: .8em;
}

.rank {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
  text-shadow: 0px 1px 5px black;
}

.taxon {
  font-style: italic;
  font-weight: normal;
  text-shadow: 0px 1px 5px black;
}

.top {
  top: 0;
  border-radius: 20px 30px 0 0; 
}

.clickhint {
  font-size: 0.5em;
  opacity: 0.01;
  position: absolute;
  bottom: 0;
}

.card:hover .clickhint {
  display: visible;
}

@media only screen and (min-width: 680px) {
  .card {
    height: 125px;
    width: 125px;
    margin: 0.4em;
    border-radius: 30px;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .imagecontainer {
    width: 125px;
    height: 125px;
  }

  .image {
    border-radius: 30px;
  }

  .label {
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
    font-size: 1.0em;
    font-weight: bold;
    text-shadow: 0px 1px 5px black;
    color: #fff;
    font-family: Roboto, sans-serif;
    text-transform: lowercase;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.85;
    position: absolute;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 30px;
    transition: all 0.1s;
}

  .common {
    font-size: .9em;
    font-weight: bold;
    text-shadow: 0px 1px 5px black;
  }
  
  .addbutton {
    font-weight: bolder;
    font-size: .8em;
    right: -5px;
    top: -5px;
    width: 2em;
    height: 2em; 
    border-radius: 30px;
    margin: 0.3em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #32B0F9;
    text-shadow: none;
}

}
