.card {
  margin: 0.5em;
  margin-right: 2.5em;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px;
  border-radius: 20px; /*0 0 20px 20px;*/
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  position: relative;
  opacity: 0.01;
  cursor: pointer;
}

.loaded {
  opacity: 1.0;
}



.imagecontainer {
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}

.image {
   border-radius: 10px;
   object-fit: cover;
   display: block;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   transition: transform ease-out 0.2s;
}

.missingimage {
   text-align: center;
   margin-top: 50%;
   font-style: italic;
}

.label {
  padding: 0.3em 1em 0.3em 1em;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  overflow-y: auto;
  font-size: 0.8em;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-transform: lowercase;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.addbutton {
  right: 0;
  top: 0;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  display: inline;
  border-radius: 20px;
  margin: 0.3em;
  cursor: pointer;
  opacity: 0.01;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.card:hover .addbutton {
  opacity: 1;
}

.bottom {
  bottom: -40px;
  width: 80px;
  border-radius: 0 0 20px 20px; 
  transition: all 0.2s;
}

.card:hover .bottom {
  border-radius: 20px;
  height: 80px;
  display: visible;
}

.card:hover .label {
  justify-content: space-around;
  padding: 1em;
}

.rank {
  font-style: italic;
  font-size: 0.65em;
  transition: font-size 0.2s;
}

.card:hover .rank {
  font-size: 1em;
}

.taxon {
  font-style: italic;
}

.top {
  top: 0;
  border-radius: 20px 30px 0 0; 
}

.clickhint {
  font-size: 0.5em;
  opacity: 0.01;
  position: absolute;
  bottom: 0;
}

.card:hover .clickhint {
  display: visible;
}

@media only screen and (min-width: 680px) {
  .card {
    height: 150px;
    width: 150px;
    margin: 0.5em;
    border-radius: 50px;
  }


  .card:hover {
    transform: scale(1.1);
  }

  .bottom {
    bottom: -2px;
    width: 150px;
  }

  .card:hover .bottom {
    height: 150px;
  }

  .label {
    font-size: 0.8em;
  }

  .imagecontainer {
    width: 150px;
    height: 150px;
  }

  .image {
    border-radius: 20px;
  }
}
