.container {
  padding: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 195px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
  border-radius: 20px;
}
