.button {
  margin: 1em;
  margin-left: auto;
  background: white;
  color: #c2c2c2;
  border-radius: 50px;
  border-width: 1px;
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
  border-style: solid;
  border-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
