.share {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 1em;
}

.sharebutton {
  margin-left: 0.5em;
  color: #999;
  border-radius: 50px;
  font-family: Roboto, Ubuntu, sans-serif;
  transition: all 0.2s ease-out;
  width: 5em;
  text-align: center;
  z-index: 999;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sharebutton:hover {
  color: #8CAB73;
  border-color: #8CAB73;
}

.sharebutton > img {
  transition: all 0.1s ease-in;
  filter: grayscale(100%);
  margin-left: 0.3em;
}

.sharebutton:hover > img {
  filter: saturate(100%);
}

.overlay {
  cursor: default;
  width: auto;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 0 5px 0 #aaa;
  background: white;
  color: #555;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  font-family: Roboto, Ubuntu, sans-serif;
  font-size: 1em;
  padding: 2em;
  line-height: 1.5;
  max-width: 30em;
}

.overlaycontainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 5;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  margin-right: 1em;
  cursor: pointer;
}

.button {
  background: #1DA1F2;
  font-family: TwitterChirp, Roboto, Ubuntu, sans-serif;
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  padding: 0.5em;
  width: 50px;
  height: 50px;
  transition: all 0.1s ease-out;
  text-align: center;
  z-index: 999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.tweet:hover {
  background: #1A8ACF;
}

.button > img {
  width: 20px;
  height: 20px;
}

.mailto {
  background: #f22f1d;
}

.mailto:hover {
  background: #cf1a1a;
}

.sharebuttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
