.title {
  white-space: nowrap;
  overflow-x: auto;
  font-size: 30px;
  font-family: Lora, serif;
  line-height: 1.0;
  position: relative;
  bottom: 2px;
}

.input {
  font-size: 30px;
  color: #555;
  text-decoration: underline;
  font-family: Lora, serif;
  text-align: left;
  position: relative;
  bottom: 2px;
  border: none;
  outline: none;
  line-height: 1.0;
  height: 30px; 
}
