.title {
  font-size: 30px;
  font-family: Lora, serif;
  transition: font-size 0.2s;
}

.input {
  font-size: 25px;
  color: #333;
  font-family: Lora, serif;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}
