.title {
  white-space: nowrap;
  overflow-x: auto;
  font-size: 30px;
  font-family: Lora, serif;
  border-radius: 30px;
  padding: 0.5em;
  background: #fff;
}

.input {
  font-size: 30px;
  color: #333;
  font-family: Lora, serif;
  text-align: center;
  text-decoration: underline;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0.5em;
}
