.zoomcontainer {
  user-select: none;
  background: white;
  color: #c2c2c2;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  margin: 1em;
  transition: all 0.4s ease-out;
  width: 2.5em;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.zoomcontrol {

}
