html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #F0F5E0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  z-index: -100;
  position: absolute;
  transition: all 0.05s;
}

.node-buttons {
  border-radius: 5px 5px 5px 0;
  box-shadow: 0 0 5px 0 #ddd;
  background: #fff;
  color: #333;
  padding-top: 0;
  opacity: 0;
  right: 0.5em;
  position: absolute;
  height: 1.5em;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

}

.node-button {
  width: 1em;
  height: 1em;
  cursor: pointer;
  margin: 0 0.1em 0 0.1em;
}

.node:hover .node-buttons {
  visibility: visibile;
  opacity: 1.0;
}

g {
  transition: transform 0.1s;
}
